$text-color:       #111;
$background-color: #F4EBE2;
$brand-color:      #2a7ae2;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


$color-primary: green;
$color-neutral: #ccc;
$color-site-frame: #A67C52;
$color-global-shadow: rbga(#000,.25);
$color-intro-bg: #22B573;